# Node.js dependencies
node_modules/

# Log files
*.log

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Build directories
/build/
/dist/

# IDE settings
.vscode/
.idea/
